/*
Copyright 2025 Rihaan Meher
*/
/* Counterclockwise rainbow shimmer */
@keyframes rainbow-border {
	0% {
		background-position: 300% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.highlight {
	position: relative;
	z-index: 1;
}

/* Border-only shimmer using pseudo-element */
.highlight::before {
	content: "";
	position: absolute;
	top: -3px;
	left: -3px;
	right: -3px;
	bottom: -3px;
	border-radius: var(--border-radius);
	border: 3px solid transparent;
	background: linear-gradient(
		270deg,
		#ff0000,
		#ff9900,
		#33cc33,
		#3399ff,
		#9900cc,
		#ff0000
	);
	background-size: 200% 200%;
	animation: rainbow-border 3s linear 0s 1 forwards;
	mask:
		linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	-webkit-mask:
		linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	mask-composite: exclude;
	-webkit-mask-composite: destination-out;
	pointer-events: none;
	z-index: -1;
}
