#drop-zone {
  border: 2px dashed var(--primary-color);
  border-radius: var(--border-radius);
  padding: 40px;
  text-align: center;
  background-color: var(--gray);
  color: var(--dark-text);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#drop-zone:hover {
  background-color: var(--light-blue);
}

#drop-zone p {
  margin: 0;
  font-size: 16px;
}

.click-to-upload {
  color: var(--blue);
  text-decoration: underline;
  cursor: pointer;
}
