name: Build and Sign Electron App (macOS)

on:
    workflow_dispatch:

jobs:
    build-macos:
        runs-on: macos-15
        env:
            CSC_LINK: ${{ secrets.CSC_LINK }}
            CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
            APPLE_ID: ${{ secrets.APPLE_ID }}
            APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
            GH_TOKEN: ${{ secrets.GH_TOKEN }}
            APPLE_TEAM_ID: ${{ secrets.TEAM_ID }}
            CSC_INSTALLER_LINK: ${{ secrets.CSC_INSTALLER_LINK }}
            CSC_INSTALLER_KEY_PASSWORD: ${{ secrets.CSC_INSTALLER_KEY_PASSWORD }}

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "23"

            - name: Install dependencies
              working-directory: src
              run: npm ci && npm install -g typescript

            - name: Build and sign Electron app
              working-directory: src
              run: npm run build

            - name: Upload macOS artifact
              uses: actions/upload-artifact@v4
              with:
                  name: Electron-macOS-build
                  path: |
                      src/dist/*.dmg
                      src/dist/*.zip
                      src/dist/*.pkg

    build-macos-x86:
        runs-on: macos-15-intel
        env:
            CSC_LINK: ${{ secrets.CSC_LINK }}
            CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
            APPLE_ID: ${{ secrets.APPLE_ID }}
            APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
            GH_TOKEN: ${{ secrets.GH_TOKEN }}
            APPLE_TEAM_ID: ${{ secrets.TEAM_ID }}
            CSC_INSTALLER_LINK: ${{ secrets.CSC_INSTALLER_LINK }}
            CSC_INSTALLER_KEY_PASSWORD: ${{ secrets.CSC_INSTALLER_KEY_PASSWORD }}

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "23"

            - name: Install dependencies
              working-directory: src
              run: npm ci && npm install -g typescript

            - name: Build and sign Electron app
              working-directory: src
              run: npm run build

            - name: Upload macOS artifact
              uses: actions/upload-artifact@v4
              with:
                  name: Electron-macOS-x86-build
                  path: |
                      src/dist/*.dmg
                      src/dist/*.zip
                      src/dist/*.pkg
