name: Build and Sign Electron App (macOS)

on:
  workflow_dispatch:

jobs:
  build-macos:
    runs-on: macos-15
    env:
      CSC_LINK: ${{ secrets.CSC_LINK }}
      CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
      APPLE_ID: ${{ secrets.APPLE_ID }}
      APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      APPLE_TEAM_ID: ${{ secrets.TEAM_ID }}
      CSC_INSTALLER_LINK: ${{ secrets.CSC_INSTALLER_LINK }}
      CSC_INSTALLER_KEY_PASSWORD: ${{ secrets.CSC_INSTALLER_KEY_PASSWORD }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '23'

      - name: Install dependencies
        working-directory: src
        run: npm ci && npm install -g typescript

      - name: Build and sign Electron app
        working-directory: src
        run: npm run build

      - name: Verify Signature
        run: |
          unzip "src/dist/InferencePort AI-1.4.0-arm64-mac.zip" -d tmp_app
          codesign -vv "tmp_app/InferencePort AI.app"

      - name: Notarize
        run: |
          xcrun notarytool submit  "src/dist/InferencePort AI-1.4.0-arm64-mac.zip" \
            --apple-id "$APPLE_ID" \
            --team-id "$APPLE_TEAM_ID" \
            --password "$APPLE_APP_SPECIFIC_PASSWORD" \
            --wait

      - name: Staple Ticket
        run: |
          xcrun stapler staple "tmp_app/InferencePort AI.app"
          spctl -a -vv "tmp_app/InferencePort AI.app"
          rm -rf  "src/dist/InferencePort AI-1.4.0-arm64-mac.zip"
          ditto -c -k --keepParent "tmp_app/InferencePort AI.app"  "src/dist/InferencePort AI-1.4.0-arm64-mac.zip"

  
      - name: Upload macOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: Electron-macOS-build
          path: |
            src/dist/*.dmg
            src/dist/*.zip
            src/dist/*.pkg
  build-macos-x86:
    runs-on: macos-15-intel
    env:
      CSC_LINK: ${{ secrets.CSC_LINK }}
      CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
      APPLE_ID: ${{ secrets.APPLE_ID }}
      APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      APPLE_TEAM_ID: ${{ secrets.TEAM_ID }}
      CSC_INSTALLER_LINK: ${{ secrets.CSC_INSTALLER_LINK }}
      CSC_INSTALLER_KEY_PASSWORD: ${{ secrets.CSC_INSTALLER_KEY_PASSWORD }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '23'

      - name: Install dependencies
        working-directory: src
        run: npm ci && npm install -g typescript

      - name: Build and sign Electron app
        working-directory: src
        run: npm run build
      - name: Verify Signature
        run: |
          unzip "src/dist/InferencePort AI-1.4.0-mac.zip" -d tmp_app
          codesign -vv "tmp_app/InferencePort AI.app"

      - name: Notarize
        run: |
          xcrun notarytool submit  "src/dist/InferencePort AI-1.4.0-mac.zip" \
            --apple-id "$APPLE_ID" \
            --team-id "$APPLE_TEAM_ID" \
            --password "$APPLE_APP_SPECIFIC_PASSWORD" \
            --wait

      - name: Staple Ticket
        run: |
          xcrun stapler staple "tmp_app/InferencePort AI.app"
          spctl -a -vv "tmp_app/InferencePort AI.app"
          rm -rf  "src/dist/InferencePort AI-1.4.0-mac.zip"
          ditto -c -k --keepParent "tmp_app/InferencePort AI.app"  "src/dist/InferencePort AI-1.4.0-mac.zip"
      - name: Upload macOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: Electron-macOS-x86-build
          path: |
            src/dist/*.dmg
            src/dist/*.zip
            src/dist/*.pkg

