name: Build, Sign, and Publish Electron App (macOS)

on:
  workflow_dispatch:

jobs:
  build-macos:
    runs-on: macos-26
    env:
      CSC_LINK: ${{ secrets.CSC_LINK }}
      CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
      APPLE_ID: ${{ secrets.APPLE_ID }}
      APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      APPLE_TEAM_ID: ${{ secrets.TEAM_ID }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '23'

      - name: Install dependencies
        working-directory: src
        run: npm ci && npm install -g typescript

      - name: Build and sign Electron app
        working-directory: src
        run: npm run publish

  build-macos-x86:
    runs-on: macos-15-intel
    env:
      CSC_LINK: ${{ secrets.CSC_LINK }}
      CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
      APPLE_ID: ${{ secrets.APPLE_ID }}
      APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      APPLE_TEAM_ID: ${{ secrets.TEAM_ID }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '23'

      - name: Install dependencies
        working-directory: src
        run: npm ci && npm install -g typescript

      - name: Build and sign Electron app
        working-directory: src
        run: npm run publish

