name: Publish Electron App

on:
  workflow_dispatch:

jobs:
  build-macos:
    permissions:
      contents: write
    runs-on: macos-26
    env:
      CSC_LINK: ${{ secrets.CSC_LINK }}
      CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
      APPLE_ID: ${{ secrets.APPLE_ID }}
      APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      APPLE_TEAM_ID: ${{ secrets.TEAM_ID }}
      CSC_INSTALLER_LINK: ${{ secrets.CSC_INSTALLER_LINK }}
      CSC_INSTALLER_KEY_PASSWORD: ${{ secrets.CSC_INSTALLER_KEY_PASSWORD }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '23'

      - name: Install dependencies
        working-directory: src
        run: npm ci && npm install -g typescript

      - name: Build and sign Electron app
        working-directory: src
        run: npm run publish

      - name: Verify Identity
        working-directory: src
        run: |
          ditto -x -k dist/*.zip dist/unzipped
          codesign -vvv --strict dist/unzipped/*.app

  build-macos-x86:
    permissions:
      contents: write
    runs-on: macos-15-intel
    env:
      CSC_LINK: ${{ secrets.CSC_LINK }}
      CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
      APPLE_ID: ${{ secrets.APPLE_ID }}
      APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      APPLE_TEAM_ID: ${{ secrets.TEAM_ID }}
      CSC_INSTALLER_LINK: ${{ secrets.CSC_INSTALLER_LINK }}
      CSC_INSTALLER_KEY_PASSWORD: ${{ secrets.CSC_INSTALLER_KEY_PASSWORD }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '23'

      - name: Install dependencies
        working-directory: src
        run: npm ci && npm install -g typescript

      - name: Build and sign Electron app
        working-directory: src
        run: npm run publish

      - name: Verify Identity
        working-directory: src
        run: |
          ditto -x -k dist/*.zip dist/unzipped
          codesign -vvv --strict dist/unzipped/*.app
          
  build-windows:
    permissions:
      contents: write
    runs-on: windows-2022
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        working-directory: src
        run: npm ci && npm install -g typescript

      - name: Build and sign Electron app
        working-directory: src
        run: npm run publish
  
  build-windows-arm:
    permissions:
      contents: write
    runs-on: windows-11-arm
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
  
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        working-directory: src
        run: npm ci && npm install -g typescript

      - name: Build and sign Electron app
        working-directory: src
        run: npm run publish

  build-linux:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        working-directory: src
        run: npm ci && npm install -g typescript

      - name: Build and publish Electron app
        working-directory: src
        run: npm run publish

  build-linux-arm:
    permissions:
      contents: write
    runs-on: ubuntu-24.04-arm
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        working-directory: src
        run: npm ci && npm install -g typescript

      - name: Build and publish Electron app
        working-directory: src
        run: npm run publish

  build-windows-cuda:
    permissions:
      contents: write
    runs-on: windows-2022
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      GPU_ONLY: "true"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        working-directory: src
        run: npm ci && npm install -g typescript

      - name: Build and sign Electron app
        working-directory: src
        run: npm run publish

  build-linux-cuda:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      GPU_ONLY: "true"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        working-directory: src
        run: npm ci && npm install -g typescript

      - name: Build and publish Electron app
        working-directory: src
        run: npm run publish
