name: Build, Sign, and Publish Electron App (Windows)

on:
  workflow_dispatch:

jobs:
  build-win64:
    runs-on: windows-2022
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm ci && npm install -g typescript

      - name: Build and sign Electron app
        run: npm run publish
  
  build-arm:
    runs-on: windows-11-arm
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
  
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm ci && npm install -g typescript

      - name: Build and sign Electron app
        run: npm run publish
